@font-face {
    font-family: 'Tan Aegean';
    src: url(../assets/fonts/TAN\ -\ AEGEAN\ Regular.ttf);
}

@font-face {
    font-family: "HelveticaNeue Medium";
    src: url(../assets/fonts/HelveticaNeue\ Medium.ttf);
}

@font-face {
    font-family: "HelveticaNeue Light";
    src: url(../assets/fonts/HelveticaNeue\ Light.ttf);
}

h4,
h2,
p {
    font-family: 'HelveticaNeue Light', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background: linear-gradient(90deg, rgba(9, 62, 121, 1) 28%, rgba(132, 0, 255, 1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.overlay {
    background-color: aliceblue;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.img {
    background-image: url(../assets/img/cat.jpeg);
    background-size: cover;
    width: 40%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.form-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-bottom>button {
    width: 20%;
    background-color: transparent;
    border: none;
}

.img-icon {
    object-fit: cover;
    padding: 6px 0 6px 0;
}

.form-top {
    padding-top: 2%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input {
    margin: 0.8em;
    width: 45%;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px #36395A;
    padding: 0.35%;
}

input:focus {
    outline: none;
    border-bottom: solid 2px #2869b6;
}

input:-ms-input-placeholder {
    font-family: 'JetBrains Mono', monospace;
}

input::-webkit-input-placeholder {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1em;
}

.form-top>button {
    margin: 0.5em;
    width: 20%;

}


/* CSS */
.btns {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 105%;
}

.btns:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btns:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btns:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.login-text {
    font-size: 0.8em;
    margin-top: 0;
}