MONGODB_ATLAS=mongoURI
MONGODB_SESSION=Collection name to store sessions
SESSION_SECRET=secret for session
CLIENT_URL=contains the url of the client
CALLBACK_URL_ORIGIN=base url or origin url of the server
GOOGLE_CLIENT_ID=contains google client id
GOOGLE_CLIENT_SECRET=contains google client secret
GITHUB_CLIENT_ID=contains github client id
GITHUB_CLIENT_SECRET=contains github client secret
